body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #DDE6ED;
}

.libre {

    height: 60px;
    width: 80px;
    margin: 2px;
}

.fila {
    display: flex;
    justify-content: center;
}


.cubiculo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #47474775;
    height: 70px;
    width: 70px;
    /* margin: 2px; */
    /* border-radius: 6px; */
    outline: none;

    cursor: pointer;
    user-select: none;
    z-index: 1;


}

.cubiculo:hover {
    /* box-shadow: 0 0 2px 2px #DDE6ED; */
    /* background-color: #6b6b6b75; */
    outline: 2px solid #d9db6c;
    z-index: 15;

}

.cubiculo_selec {
    outline: 2px solid #535C91;
    z-index: 15;
}


.context-menu {
    display: none;
    position: absolute;
    background-color: #515e5e;
    border: 1px solid #999999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 4px;

    color: #d6d6d6;
}

.context-menu ul {
    border-radius: 4px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.context-menu ul li {
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    white-space: nowrap;
}

.context-menu ul li:hover {
    background-color: #afafaf;
    color: #000000;
}

.context-menu li {
    padding: 8px 12px;
    cursor: pointer;
    position: relative;
}

.context-menu li:hover {
    background-color: #f0f0f0;
}

.submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;

}

.context-menu li:hover .submenu {
    display: block;
}

#context-menu-header {
    border-bottom: 1px solid #999999;
    cursor: all-scroll
}

.contenedor-imagenes {
    position: relative;
    width: 100%;
    height: 100%;
}

.contenedor-imagenes img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img1 {
    z-index: 2;
    /* Imagen inferior */
}

.img2 {
    z-index: 3;
    /* Imagen intermedia */
}

.img3 {
    z-index: 4;
    /* Imagen superior */
}

.img_null {
    display: none;
}